@charset "UTF-8";

/* 共通
----------------------------------- */
html {
  font-size: 100%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #000000;
  /*line-height: 150%;*/
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: '';
}

/* レイアウト
----------------------------------- */
.wrapper {
  width: min(92%, 1000px);
  margin-inline: auto;
}

section {
  padding-block: 4rem;
}

/* 見出し
----------------------------------- */
/* h1 */
h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 150%;

}

/* h2 */
h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 150%;

}

/* h3 */
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 150%;

}

/* ヘッダー
----------------------------------- */
.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem;
}

nav>ul {
  display: flex;
  justify-content: space-between;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.areaSelect {
  position: relative;
  /* width: 200px; */
  display: inline-block;
}

#areaButton {
  width: 100%;
  cursor: pointer;
  background: #fff;
  /* border: 1px solid #ccc; */
  text-align: left;
}

#areaMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  width: 200px;
  background: #fff;
  z-index: 10;
}

#areaMenu li {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

#areaMenu li:hover {
  background: #f0f0f0;
}

.hidden {
  display: none;
}

/* フッター
----------------------------------- */
footer {
  margin-top: 4rem;
  background-color: #003531;
  padding-block: 2.5rem;
}

.footerItems {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerItems ul {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footerGroup {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-left: 6rem;
}

.footerLogo{
  padding-top: 2rem;
  text-align: center;


}
.copyRight{
  color: #fff;
  text-align: center;
}

/* トップページ
----------------------------------- */
.mainVisual img {
  width: 100%;
}

#Area {
  background: linear-gradient(180deg, #0ca296, #fff 95%);
}

.textWhite {
  color: #fff;
}

.pt32 {
  padding-top: 32px;
}

.textCenter {
  text-align: center;
}

.areaItems {
  display: grid;
  grid-template-columns: 1fr;
}

.areaItems .item {
  max-width: 100%;
}

.areaItems .item .areaOverview {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  background: linear-gradient(180deg, transparent, #0ca296 95%);
}

.areaItems .item .areaOverview .areaText {
  margin-top: 45px;
  margin-bottom: 25px;
}

.areaItems .item .areaOverview .areaText {
  text-align: center;
  bottom: 10px;
}

.areaItems .item .areaOverview .areaText .regionName {
  font-size: 1.25rem;
  font-weight: bold;
}

.areaContents {
  padding-top: 68px;
  margin: auto;
}

.areaItems {
  display: grid;
  grid-template-columns: 1fr;
}

.areaItems .item {
  position: relative;
}

.areaItems .imageCover {
  position: relative;
  width: 100%;
  height: 480px;
  margin-top: 24px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.areaItems .imageCover img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* 下層ページ　-　エリア
----------------------------------- */
.areaMainvisual {
  width: 100%;
}

.museumName {
  color: #003531;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.museumName p {
  font-size: 1rem;
}

th {
  font-weight: 400;
  font-size: 1rem;
  width: 128px;
  text-align: start;
}

td {
  font-size: 1rem;
  width: 338px;
}

tr {
  height: 36px;
}

.museumOverview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.museumTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.museumTop img {
  border-radius: 0.5rem;
  order: -1;
}

.museumPhoto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.museumPhoto img {
  border-radius: 0.5rem;
}
.hr{
  display: block;
  width: 160px;
  border: 5px solid #00353199;;
  margin: 1rem auto 0;
}

.museumDetail {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 600px) {
  /* フッター
----------------------------------- */
  .footerGroup {
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    }

  /* トップページ
----------------------------------- */
  .header h1 {
    font-size: 4rem;
    padding-top: 40px;
  }

  .header .subText {
    padding-top: 32px;
  }

  .header .subText p {
    font-size: 1.25rem;
  }

  .areaContents {
    padding-top: 68px;
    max-width: 1000px;
    margin: auto;
  }

  .areaContents .areaItems {
    justify-content: center;
  }

  .areaItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .areaItems .imageCover {
    position: relative;
    width: 320px;
    height: 480px;
    margin-top: 24px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
  }

  .areaItems .imageCover img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .areaItems .item .areaOverview {
    width: 320px;
  }
  /* 下層ページ　-　エリア
----------------------------------- */
  .museumTop {
    flex-direction: row;
    gap: 2rem;
  }

  .museumTop img {
    max-width: 480px;
    order: 1;
  }

  .museumPhoto {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}