@charset "UTF-8";
img{
    max-width: 100%;
    vertical-align: bottom;
}
ul{
    list-style-type:none ;
    padding: 0;
}
main{
    width: min(92%,900px);
    margin-inline:auto;
}
.swiper{
    max-width: 300px;
    margin-inline: auto;
}
.swiper-button-prev,
.swiper-button-next{
    color:orange;
}